@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3d3732;
  
}

a:link,
a:visited {
  text-decoration: none;
}