// landing page

#header1{

    .h1{
       font-family: $font-display;
       color: white;
       position: absolute;
      width: 547px;
      height: 78px;
      left: 53px;
      top: 300px;
       
    }

    
    .ptag{
       font-size:$font-body;
       color: $color-black;
    }
}