@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3d3732;
}

a:link,
a:visited {
  text-decoration: none;
}

.navbar {
  height: 10vh;
  background-color: black;
  padding: 0 40;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.navbar__logo {
  width: 65px;
}
.navbar__logo svg {
  width: 100%;
}
.navbar__links a {
  color: white;
  padding-inline: 10px;
  font-family: "Roboto", sans-serif;
}
.navbar__icons {
  color: white;
}
.navbar__icons i {
  padding-inline: 10px;
  font-size: 1.2rem;
}

h1 {
  height: 10vh;
  width: auto;
  font-style: "Montserrat", sans-serif;
}

.buttonVMW {
  position: absolute;
  width: 180px;
  height: 50px;
  left: 53px;
  top: 664px;
  border-radius: 5;
  color: #f99672;
}

#header1 .h1 {
  font-family: "Montserrat", sans-serif;
}
#header1 .ptag {
  font-size: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.67);
}